<section>
  <div class="flex h-screen w-screen flex-col items-center justify-center gap-1">
    <h1 class="font-w-heading font-heading text-3xl">{{ 'templates.404.title' | t }}</h1>
    <h2 class="font-w-heading font-heading text-2xl">
      <span class="sr-only">Error</span>
      <span>{{ 'templates.404.subtext' | t }}</span>
    </h2>
  </div>
</section>
